.about {
    background-color: darkblue;
}

.home {
    background-color: darkred;
    position: relative;
    height: 95%;
    overflow: hidden;
}

.menu {
    background-color: darkgreen;
}

.reserve {
    background-color: darkorange;

}