.slideshow {
    width: 100%;
    height: 100%;

    .slide {
        width: 100%;
        height: 100%;
        display: none;
    }

    .slide.active {
        display: block;
    }

    .dot .active {
        border: 1px solid red;
    }
}