.navigation {

  background: url("/static/images/bg-wood-texture.png") no-repeat center #231f1f;
  position: sticky;
  top: 0;

  ul {

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100vw;

    li {

      a {
        color: white;
        display: block;
        font-family: "MontserratWeb",Arial,Helvetica,sans-serif;
        font-weight: bold;
        padding: 1rem 0;
        text-transform: uppercase;
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
      }

    }

  }

}
