.navigation {

    position: absolute;
    width: 122px;
    padding: 4.5rem 0 2rem;
    top: 30%;
    left: 41.666667%;
    margin-top: -100px;
    margin-left: 56px;
    background-color: red;
    background-size: 100%;
    z-index: 999;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
    }

}